<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INEITStoresOrderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55097/NEITStoresOrderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INEITStoresOrderService"
                contract="ServiceAccount.INEITStoresOrderService" name="BasicHttpBinding_INEITStoresOrderService" />
        </client>
    </system.serviceModel>
</configuration>